<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background: linear-gradient(135deg, #cfd9df 0%, #e2ebf0 100%);
            margin: 0;
            padding: 0;
        }

        .container {
            width: 90%;
            margin: 20px auto;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            text-align: center;
            color: #333333;
        }

        .search-form {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }

        .search-form label {
            font-weight: bold;
        }

        .search-form input[type="text"],
        .search-form select {
            padding: 8px;
            border: 1px solid #cccccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        .search-form input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 8px 20px;
            cursor: pointer;
        }

        .panel {
            background-color: #f9f9f9;
            padding: 20px;
            border-radius: 5px;
            margin-bottom: 20px;
        }

        .new-product-btn {

            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 8px 20px;
            cursor: pointer;
            position: relative;
            left: 70%;
            top: 2px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        table,
        th,
        td {
            border: 1px solid #cccccc;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        td,
        th {

            text-align: center;
            align-items: center;

        }

        td a {

            color: #4CAF50;
            text-decoration: none;
            font-size: 15px;
            font-weight: bold;
        }

        td a:hover {
            color: #175019;
        }

        .nav1 {


            width: 100%;
            margin: 20px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            justify-content: space-around;
            text-decoration: none;
            font-weight: bold;
        }


        .nav-left a {
            color: rgb(78, 67, 67);
            text-decoration: none;
            font-size: 18px;
            padding: 7px;
        }

        .nav-left a:hover {
            background: linear-gradient(135deg, #b1c9d3 0%, #c2d9ee 100%);

            transform: scale(1.05);
            color: black;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }
    </style>
</head>

<body>
    <div class="nav1">
        <div class="nav-left"><a href="/dash_board">Dash Board</a></div>
        <div class="nav-left"><a href="/data-management-panel">Operation</a></div>
        <div class="nav-left"><a href="/product-home">Product Home</a></div>
        <div class="nav-left"><a href="/login">LogOut</a></div>
    </div>

    <div class="container">
        <h2>Product Pnael</h2>


        <table id="searchResults">
            <tr>
                <th>Id</th>
                <th>Product Name</th>
                <th>Weight</th>
                <th>Product Type</th>
                <th>Company</th>
                <th>Product Count</th>
                <th>Price</th>
                <th>Publication Date</th>
                <th>Action</th>
            </tr>
            <% product_database.forEach(item=> { %>
                <tr>
                    <td>
                        <%= item.id %>
                    </td>
                    <td>
                        <%= item.productName %>
                    </td>
                    <td>
                        <%= item.weight %>
                    </td>
                    <td>
                        <%= item.productType %>
                    </td>
                    <td>
                        <%= item.companyName %>
                    </td>
                    <td>
                        <%= item.ProductCount %>
                    </td>
                    <td>
                        <%= item.single_price %>
                    </td>
                    <td>
                        <%= new Date(item.publishedDate).toLocaleDateString('en-US', { day: 'numeric' , month: 'long' ,
                            year: 'numeric' }) %>
                    </td>
                    <td><a href="/product-panel-detalis/<%= item.id %>">Details</a></td>
                </tr>
                <% }); %>
        </table>
    </div>


</body>

</html>