<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            
      background: linear-gradient(135deg, #cfd9df 0%, #789caf 100%);
            margin: 0;
            padding: 0;
        }

        .container {
            width: 90%;
            margin: 20px auto;
            background: linear-gradient(135deg, #c3e9ca 0%, #77e08a 100%);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            position: relative;
        }

        h2 {
            text-align: center;
            color: #181a19;
            margin-bottom: 20px;
        }

        .search-form {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            flex-wrap: wrap;
        }

        .search-form label {
            font-weight: bold;
            margin-right: 10px;
        }

        .search-form input[type="search"] {
            padding: 8px;
            border: 1px solid #262929;
            border-radius: 5px;
            box-sizing: border-box;
            margin-right: 10px;
            flex: 1;
        }

        .search-form input[type="submit"] {
            background-color: #21bd29;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 8px 20px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .search-form input[type="submit"]:hover {
            background-color: #26d835;
        }

        .new-product-btn {
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
            float: right;
            margin-left: 10px;
            
        }

        .new-product-btn:hover {
            background-color: #13c23f;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        table,
        th,
        td {
            border: 1px solid #0c0c0c;
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #367541;
            color: white;
        }

        td,
        th {
            text-align: center;
            vertical-align: middle;
        }

        td a {
            color: #141414;
            text-decoration: none;
            font-weight: bold;
            transition: color 0.3s;
        }

        td a:hover {
            color: #319696;
        }

        .nav1 {


            width: 100%;
            height: 45px;
            margin: 20px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            justify-content: space-around;
            text-decoration: none;
            font-weight: bold;
            background: linear-gradient(135deg, #c3e9ca 0%, #77e08a 100%);
        }


        .nav-left a {
            color: rgb(78, 67, 67);
            text-decoration: none;
            font-size: 18px;
            padding: 7px;
        }

        .nav-left a:hover {
            background: linear-gradient(135deg, #c3e9ca 0%, #77e08a 100%);

            transform: scale(1.05);
            color: black;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }
    </style>
</head>

<body>
    <div class="nav1">
        <div class="nav-left"><a href="/dash_board">Dash Board</a></div>
        <div class="nav-left"><a href="/data-management-panel">Operation</a></div>
        <div class="nav-left"><a href="/login">LogOut</a></div>
    </div>

    <div class="container">
        <button class="new-product-btn" onclick="location.href='product-entry'">New Entry</button>
        <button class="new-product-btn" onclick="location.href='product-panel-dashboard'">Panel Enry</button>

        <h2>Product</h2>
        <div class="search-form">
            <form action="/product-search" method="GET">

                <label for="searchId">Id:</label>
                <input type="search" id="searchId" name="id">

                <label for="productName">Product Name:</label>
                <input type="search" id="productName" name="productName">

                <label for="companyName">Company:</label>
                <input type="search" id="companyName" name="companyName">

                <input type="submit" value="Search">
            </form>
        </div>

        <table id="searchResults">
            <tr>
                <th>Id</th>
                <th>Product Name</th>
                <th>Weight</th>
                <th>Product Type</th>
                <th>Company</th>
                <th>Product Count</th>
                <th>Price</th>
                <th>Publication Date</th>
                <th>Action</th>
            </tr>
            <% product_database.forEach(item=> { %>
                <tr>
                    <td>
                        <%= item.id %>
                    </td>
                    <td>
                        <%= item.productName %>
                    </td>
                    <td>
                        <%= item.weight %>
                    </td>
                    <td>
                        <%= item.productType %>
                    </td>
                    <td>
                        <%= item.companyName %>
                    </td>
                    <td>
                        <%= item.ProductCount %>
                    </td>
                    <td>
                        <%= item.single_price %>
                    </td>
                    <td>
                        <%= new Date(item.publishedDate).toLocaleDateString('en-US', { day: 'numeric' , month: 'long' ,
                            year: 'numeric' }) %>
                    </td>
                    <td><a href="/product-details/<%= item.id %>"><i class="fas fa-edit"></a></td>
                </tr>
                <% }); %>
        </table>
    </div>


</body>

</html>